<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: skyblue;
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
    <button id="getData">GetData</button>
    <button id="addRule">AddRules</button>
    <button id="transformData">TransformData</button>
</head>
 
<body>
   <div id="setData"></div>
   <script src="index" type="text/javascript"></script>
</body>
 
</html>   